* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  background-color: #1f2937;
  color: #ffff;
}

.header-logo {
  font-size: 24px !important;
}

.nav {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  font-family: Arial, Helvetica, sans-serif;
}

.nav-list {
  height: 80px;
  display: flex;
  align-items: center;
  gap: 20px;
}

.nav-list-item {
  list-style: none;
}

.nav-links {
  font-size: 18px;
  text-decoration: none;
  color: #ffffff;
}

.landing {
  height: 500px;
  background-color: #1f2937;
  color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.landing-wrap {
  display: flex;
}

.landing-desc {
  flex: 1;
}

.landing-heading {
  font-family: "Gill Sans", "Gill Sans MT", sans-serif;
  font-size: 48px;
  font-weight: 800;
  color: #f9faf8;
}

.landing-text {
  font-family: Cambria, Cochin, "Times New Roman", serif;
  font-size: 18px;
  color: #f9faf8;
}

.landing-btn {
  display: block;
  margin-top: 10px;
  padding: 10px 24px;
  background-color: #3882f6;
  font-family: "Segoe UI", Tahoma, sans-serif;
  font-size: 18px;
  font-weight: 700;
  color: #ffffff;
  border: none;
  border-radius: 10px;
}

.landing-img {
  flex: 1;
  height: 309px;
  width: 700px;
}

.facts {
  padding: 30px;
}

.facts-title {
  font-size: 36px;
  font-weight: 700;
  color: #1f2937;
  font-family: 'Roboto', sans-serif;
  text-align: center;
}

.facts-wrap {
  display: flex;
  justify-content: center;
  gap: 50px;
  padding: 20px;
}

.facts-box {
  overflow:hidden;
  width: 330px;
  text-align: center;
}

.facts-img {
  height: 300px;
  width: 330px;
  border: 4px solid #3882f6;
  border-radius: 20px;
}

.facts-text {
  font-size: 20px;
  font-family: 'Roboto', sans-serif;
  color: #000000;
}


